<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	  <Properties>
	<Property name="basePath">./target</Property>
	</Properties>
  <Appenders>
	  <RollingFile name="File" fileName="${basePath}/test.log" filePattern="${basePath}/testlog11-%d{yyyy-MM-dd}.log">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <SizeBasedTriggeringPolicy size="200" />
      </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="trace">
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>